openapi: 3.0.0
info:
  title: Mowgli SmartCache API
  version: v1
servers:
  - url: http://mowgli-api.winglet.io
    description: production server
security:
  - ApiKeyAuth: []
paths:
  /smartcache/v1/best_deal:
    post:
      tags:
        - SmartCache
      operationId: best_deal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BestDealRequest'
        required: true
      responses:
        "200":
          description: List of best deal offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BestDealResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: swagger_server.controllers.smart_cache_controller
  /smartcache/v1/calendar:
    post:
      tags:
        - SmartCache
      operationId: calendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarRequest'
        required: true
      responses:
        "200":
          description: Price calendar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: swagger_server.controllers.smart_cache_controller
  /smartcache/v1/home_page:
    post:
      tags:
        - SmartCache
      operationId: home_page
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomePageRequest'
        required: true
      responses:
        "200":
          description: HomePage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomePageResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: swagger_server.controllers.smart_cache_controller
  /smartcache/v1/offer_detail/{offer_id}:
    get:
      tags:
        - SmartCache
      operationId: offer_detail
      parameters:
        - name: offer_id
          in: path
          description: Offer ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: locale
          in: query
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Locale'
        - name: with_reco
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - "true"
              - "false"
      responses:
        "200":
          description: Offer detail information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Cannot find Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: swagger_server.controllers.smart_cache_controller
  /subscription/v1/device/token:
    put:
      tags:
        - Device
      operationId: token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        "200":
          description: Add token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      x-openapi-router-controller: swagger_server.controllers.device_controller
  /subscription/v1/subscription/:
    get:
      tags:
        - Subscription
      operationId: list_subscriptions
      parameters:
        - name: device_id
          in: query
          description: Device ID
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: List all subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      x-openapi-router-controller: swagger_server.controllers.subscription_controller
    post:
      tags:
        - Subscription
      operationId: create_subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        required: true
      responses:
        "200":
          description: Create Subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      x-openapi-router-controller: swagger_server.controllers.subscription_controller
  /subscription/v1/subscription/{id}:
    get:
      tags:
        - Subscription
      operationId: get_subscription
      parameters:
        - name: id
          in: path
          description: Subscirption ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: device_id
          in: query
          description: Device ID
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      x-openapi-router-controller: swagger_server.controllers.subscription_controller
  /autocompletion/v1/completion:
    get:
      tags:
        - autocompletion
      operationId: get_subscription
      parameters:
        - name: lang
          in: query
          description: ISO 639 culture code
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: val
          in: query
          description: searching text
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Retrieve subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "401":
          description: Authentification Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
        "500":
          description: Server Internal Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      x-openapi-router-controller: swagger_server.controllers.autocompletion_controller
components:
  schemas:
    BestDealRequest:
      title: BestDealRequest
      required:
        - destination
        - origin
        - outbound_date
        - type
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/RequestOrigin'
        destination:
          $ref: '#/components/schemas/RequestDestination'
        outbound_date:
          $ref: '#/components/schemas/HopDate'
        outbound_time:
          $ref: '#/components/schemas/HopTime'
        inbound_date:
          $ref: '#/components/schemas/HopDate'
        inbound_time:
          $ref: '#/components/schemas/HopTime'
        type:
          $ref: '#/components/schemas/JourneyType'
        journey_days:
          $ref: '#/components/schemas/JourneyDays'
        max_stopovers:
          type: integer
          format: int64
        hop_duration:
          $ref: '#/components/schemas/HopDuration'
        checked_baggage:
          type: integer
          format: int64
        cabin:
          $ref: '#/components/schemas/CabinType'
        budget:
          type: number
          format: float
        currency:
          $ref: '#/components/schemas/Currency'
        locale:
          $ref: '#/components/schemas/Locale'
        avatar_width:
          type: integer
        continuation_token:
          type: string
        size:
          type: integer
          format: int64
          default: 20
        order_by:
          $ref: '#/components/schemas/BestDealRequestOrderMetric'
        one_by_destination:
          type: boolean
          default: false
      additionalProperties: false
      example:
        one_by_destination: false
        avatar_width: 3
        inbound_date: null
        inbound_time: null
        origin:
          code: code
          type: AIRPORT
          code_type:
            - IATA
            - IATA
        destination:
          codes:
            - codes
            - codes
          type: AIRPORT
          code_type:
            - null
            - null
        cabin: ECONOMY
        journey_days:
          flexible_journey_days:
            min: 6
            max: 0
          journey_days: 1
        outbound_time:
          time: time
          type: DEPARTURE
          flexible_time:
            min: min
            max: max
        type: ROUNDTRIP
        locale: fr_FR
        outbound_date:
          date: date
          flexible_date:
            min: min
            max: max
            type: OPEN
            day_of_week:
              - MONDAY
              - MONDAY
          type: DEPARTURE
        checked_baggage: 7
        continuation_token: continuation_token
        size: 2
        hop_duration:
          min: 2
          max: 5
        max_stopovers: 5
        order_by: POPULARITY
        currency: EURO
        budget: 9.301444
    BestDealRequestOrderMetric:
      title: BestDealRequestOrderMetric
      type: string
      default: POPULARITY
      enum:
        - POPULARITY
        - PRICE
        - FRESHNESS
    BestDealResponse:
      title: BestDealResponse
      type: object
      properties:
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        continuation_token:
          type: string
      additionalProperties: false
      example:
        offers:
          - service_bundles:
              - traveler_ids:
                  - traveler_ids
                  - traveler_ids
                id: id
                services:
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                transport_service_id: transport_service_id
              - traveler_ids:
                  - traveler_ids
                  - traveler_ids
                id: id
                services:
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                transport_service_id: transport_service_id
            viewed_at: viewed_at
            total_amount:
              currency: EURO
              value: 9.301444
            mowgli_tips:
              is_average_price:
                description: description
                title: title
                type: SUPERDEAL
              is_lowest_price:
                description: description
                title: title
                type: LOWESTPRICE
            hops:
              - duration: 5
                origin_city: null
                stopover_duration: 5
                arrival_time: arrival_time
                transport_services:
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                departure_date: departure_date
                id: id
                type: OUTBOUND
                arrival_date: arrival_date
                departure_time: departure_time
                destination_city:
                  code: code
                  coordinate:
                    altitude: 0.8008282
                    latitude: 6.0274563
                    longitude: 1.4658129
                  country_subdivision_code: country_subdivision_code
                  name: name
                  id: id
                  avatar: avatar
                  code_type: IATA
              - duration: 5
                origin_city: null
                stopover_duration: 5
                arrival_time: arrival_time
                transport_services:
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                departure_date: departure_date
                id: id
                type: OUTBOUND
                arrival_date: arrival_date
                departure_time: departure_time
                destination_city:
                  code: code
                  coordinate:
                    altitude: 0.8008282
                    latitude: 6.0274563
                    longitude: 1.4658129
                  country_subdivision_code: country_subdivision_code
                  name: name
                  id: id
                  avatar: avatar
                  code_type: IATA
            id: id
            total_tax: null
            travelers:
              - id: id
                type: ADULT
                service_bundle_ids:
                  - service_bundle_ids
                  - service_bundle_ids
              - id: id
                type: ADULT
                service_bundle_ids:
                  - service_bundle_ids
                  - service_bundle_ids
          - service_bundles:
              - traveler_ids:
                  - traveler_ids
                  - traveler_ids
                id: id
                services:
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                transport_service_id: transport_service_id
              - traveler_ids:
                  - traveler_ids
                  - traveler_ids
                id: id
                services:
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                  - marketing_name: marketing_name
                    name: name
                    description: description
                    attributes:
                      key: attributes
                    id: id
                    type: CABINCLASS
                transport_service_id: transport_service_id
            viewed_at: viewed_at
            total_amount:
              currency: EURO
              value: 9.301444
            mowgli_tips:
              is_average_price:
                description: description
                title: title
                type: SUPERDEAL
              is_lowest_price:
                description: description
                title: title
                type: LOWESTPRICE
            hops:
              - duration: 5
                origin_city: null
                stopover_duration: 5
                arrival_time: arrival_time
                transport_services:
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                departure_date: departure_date
                id: id
                type: OUTBOUND
                arrival_date: arrival_date
                departure_time: departure_time
                destination_city:
                  code: code
                  coordinate:
                    altitude: 0.8008282
                    latitude: 6.0274563
                    longitude: 1.4658129
                  country_subdivision_code: country_subdivision_code
                  name: name
                  id: id
                  avatar: avatar
                  code_type: IATA
              - duration: 5
                origin_city: null
                stopover_duration: 5
                arrival_time: arrival_time
                transport_services:
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                  - equipment_name: equipment_name
                    stopover_duration: 7
                    arrival_time: arrival_time
                    departure_date: departure_date
                    origin: null
                    destination:
                      code: code
                      coordinate: null
                      name: name
                      id: id
                      type: AIRPORT
                      code_type: null
                    equipment: equipment
                    operating_designator: operating_designator
                    marketing_designator: marketing_designator
                    operating_carrier: null
                    type: FLIGHT
                    marketing_carrier:
                      code: code
                      name: name
                      avatar: avatar
                    duration: 2
                    id: id
                    arrival_date: arrival_date
                    departure_time: departure_time
                departure_date: departure_date
                id: id
                type: OUTBOUND
                arrival_date: arrival_date
                departure_time: departure_time
                destination_city:
                  code: code
                  coordinate:
                    altitude: 0.8008282
                    latitude: 6.0274563
                    longitude: 1.4658129
                  country_subdivision_code: country_subdivision_code
                  name: name
                  id: id
                  avatar: avatar
                  code_type: IATA
            id: id
            total_tax: null
            travelers:
              - id: id
                type: ADULT
                service_bundle_ids:
                  - service_bundle_ids
                  - service_bundle_ids
              - id: id
                type: ADULT
                service_bundle_ids:
                  - service_bundle_ids
                  - service_bundle_ids
        continuation_token: continuation_token
    Error:
      title: Error
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      additionalProperties: false
    CalendarRequest:
      title: CalendarRequest
      required:
        - destination
        - origin
        - type
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/RequestOrigin'
        destination:
          $ref: '#/components/schemas/RequestDestination'
        type:
          $ref: '#/components/schemas/JourneyType'
        journey_days:
          $ref: '#/components/schemas/JourneyDays'
        max_stopovers:
          type: integer
          format: int64
        hop_duration:
          $ref: '#/components/schemas/HopDuration'
        checked_baggage:
          type: integer
          format: int64
        cabin:
          $ref: '#/components/schemas/CabinType'
        currency:
          $ref: '#/components/schemas/Currency'
      additionalProperties: false
    CalendarResponse:
      title: CalendarResponse
      type: object
      properties:
        calendar_cells:
          type: array
          items:
            $ref: '#/components/schemas/CalendarCell'
        cats:
          type: array
          items:
            $ref: '#/components/schemas/AmountCat'
      additionalProperties: false
      example:
        cats:
          - lower: 0.8008282
            upper: 6.0274563
            ID: null
          - lower: 0.8008282
            upper: 6.0274563
            ID: null
        calendar_cells:
          - amount:
              currency: EURO
              value: 9.301444
            cat: LOWEST
            inbound_departure_date: inbound_departure_date
            outbound_departure_date: outbound_departure_date
            offer_id: offer_id
          - amount:
              currency: EURO
              value: 9.301444
            cat: LOWEST
            inbound_departure_date: inbound_departure_date
            outbound_departure_date: outbound_departure_date
            offer_id: offer_id
    HomePageRequest:
      title: HomePageRequest
      required:
        - origin
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/RequestOrigin'
        locale:
          $ref: '#/components/schemas/Locale'
        avatar_width:
          type: integer
      additionalProperties: false
    HomePageResponse:
      title: HomePageResponse
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/City'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationSection'
      additionalProperties: false
      example:
        origin:
          code: code
          coordinate:
            altitude: 0.8008282
            latitude: 6.0274563
            longitude: 1.4658129
          country_subdivision_code: country_subdivision_code
          name: name
          id: id
          avatar: avatar
          code_type: IATA
        sections:
          - offers:
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
            request:
              one_by_destination: false
              avatar_width: 3
              inbound_date: null
              inbound_time: null
              origin:
                code: code
                type: AIRPORT
                code_type:
                  - IATA
                  - IATA
              destination:
                codes:
                  - codes
                  - codes
                type: AIRPORT
                code_type:
                  - null
                  - null
              cabin: ECONOMY
              journey_days:
                flexible_journey_days:
                  min: 6
                  max: 0
                journey_days: 1
              outbound_time:
                time: time
                type: DEPARTURE
                flexible_time:
                  min: min
                  max: max
              type: ROUNDTRIP
              locale: fr_FR
              outbound_date:
                date: date
                flexible_date:
                  min: min
                  max: max
                  type: OPEN
                  day_of_week:
                    - MONDAY
                    - MONDAY
                type: DEPARTURE
              checked_baggage: 7
              continuation_token: continuation_token
              size: 2
              hop_duration:
                min: 2
                max: 5
              max_stopovers: 5
              order_by: POPULARITY
              currency: EURO
              budget: 9.301444
            name: name
            type: RECOMMENDATION
          - offers:
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
            request:
              one_by_destination: false
              avatar_width: 3
              inbound_date: null
              inbound_time: null
              origin:
                code: code
                type: AIRPORT
                code_type:
                  - IATA
                  - IATA
              destination:
                codes:
                  - codes
                  - codes
                type: AIRPORT
                code_type:
                  - null
                  - null
              cabin: ECONOMY
              journey_days:
                flexible_journey_days:
                  min: 6
                  max: 0
                journey_days: 1
              outbound_time:
                time: time
                type: DEPARTURE
                flexible_time:
                  min: min
                  max: max
              type: ROUNDTRIP
              locale: fr_FR
              outbound_date:
                date: date
                flexible_date:
                  min: min
                  max: max
                  type: OPEN
                  day_of_week:
                    - MONDAY
                    - MONDAY
                type: DEPARTURE
              checked_baggage: 7
              continuation_token: continuation_token
              size: 2
              hop_duration:
                min: 2
                max: 5
              max_stopovers: 5
              order_by: POPULARITY
              currency: EURO
              budget: 9.301444
            name: name
            type: RECOMMENDATION
    Locale:
      title: Locale
      type: string
      enum:
        - fr_FR
        - en_US
    OfferDetailResponse:
      title: OfferDetailResponse
      type: object
      properties:
        offer:
          $ref: '#/components/schemas/Offer'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationSection'
      additionalProperties: false
      example:
        offer:
          service_bundles:
            - traveler_ids:
                - traveler_ids
                - traveler_ids
              id: id
              services:
                - marketing_name: marketing_name
                  name: name
                  description: description
                  attributes:
                    key: attributes
                  id: id
                  type: CABINCLASS
                - marketing_name: marketing_name
                  name: name
                  description: description
                  attributes:
                    key: attributes
                  id: id
                  type: CABINCLASS
              transport_service_id: transport_service_id
            - traveler_ids:
                - traveler_ids
                - traveler_ids
              id: id
              services:
                - marketing_name: marketing_name
                  name: name
                  description: description
                  attributes:
                    key: attributes
                  id: id
                  type: CABINCLASS
                - marketing_name: marketing_name
                  name: name
                  description: description
                  attributes:
                    key: attributes
                  id: id
                  type: CABINCLASS
              transport_service_id: transport_service_id
          viewed_at: viewed_at
          total_amount:
            currency: EURO
            value: 9.301444
          mowgli_tips:
            is_average_price:
              description: description
              title: title
              type: SUPERDEAL
            is_lowest_price:
              description: description
              title: title
              type: LOWESTPRICE
          hops:
            - duration: 5
              origin_city: null
              stopover_duration: 5
              arrival_time: arrival_time
              transport_services:
                - equipment_name: equipment_name
                  stopover_duration: 7
                  arrival_time: arrival_time
                  departure_date: departure_date
                  origin: null
                  destination:
                    code: code
                    coordinate: null
                    name: name
                    id: id
                    type: AIRPORT
                    code_type: null
                  equipment: equipment
                  operating_designator: operating_designator
                  marketing_designator: marketing_designator
                  operating_carrier: null
                  type: FLIGHT
                  marketing_carrier:
                    code: code
                    name: name
                    avatar: avatar
                  duration: 2
                  id: id
                  arrival_date: arrival_date
                  departure_time: departure_time
                - equipment_name: equipment_name
                  stopover_duration: 7
                  arrival_time: arrival_time
                  departure_date: departure_date
                  origin: null
                  destination:
                    code: code
                    coordinate: null
                    name: name
                    id: id
                    type: AIRPORT
                    code_type: null
                  equipment: equipment
                  operating_designator: operating_designator
                  marketing_designator: marketing_designator
                  operating_carrier: null
                  type: FLIGHT
                  marketing_carrier:
                    code: code
                    name: name
                    avatar: avatar
                  duration: 2
                  id: id
                  arrival_date: arrival_date
                  departure_time: departure_time
              departure_date: departure_date
              id: id
              type: OUTBOUND
              arrival_date: arrival_date
              departure_time: departure_time
              destination_city:
                code: code
                coordinate:
                  altitude: 0.8008282
                  latitude: 6.0274563
                  longitude: 1.4658129
                country_subdivision_code: country_subdivision_code
                name: name
                id: id
                avatar: avatar
                code_type: IATA
            - duration: 5
              origin_city: null
              stopover_duration: 5
              arrival_time: arrival_time
              transport_services:
                - equipment_name: equipment_name
                  stopover_duration: 7
                  arrival_time: arrival_time
                  departure_date: departure_date
                  origin: null
                  destination:
                    code: code
                    coordinate: null
                    name: name
                    id: id
                    type: AIRPORT
                    code_type: null
                  equipment: equipment
                  operating_designator: operating_designator
                  marketing_designator: marketing_designator
                  operating_carrier: null
                  type: FLIGHT
                  marketing_carrier:
                    code: code
                    name: name
                    avatar: avatar
                  duration: 2
                  id: id
                  arrival_date: arrival_date
                  departure_time: departure_time
                - equipment_name: equipment_name
                  stopover_duration: 7
                  arrival_time: arrival_time
                  departure_date: departure_date
                  origin: null
                  destination:
                    code: code
                    coordinate: null
                    name: name
                    id: id
                    type: AIRPORT
                    code_type: null
                  equipment: equipment
                  operating_designator: operating_designator
                  marketing_designator: marketing_designator
                  operating_carrier: null
                  type: FLIGHT
                  marketing_carrier:
                    code: code
                    name: name
                    avatar: avatar
                  duration: 2
                  id: id
                  arrival_date: arrival_date
                  departure_time: departure_time
              departure_date: departure_date
              id: id
              type: OUTBOUND
              arrival_date: arrival_date
              departure_time: departure_time
              destination_city:
                code: code
                coordinate:
                  altitude: 0.8008282
                  latitude: 6.0274563
                  longitude: 1.4658129
                country_subdivision_code: country_subdivision_code
                name: name
                id: id
                avatar: avatar
                code_type: IATA
          id: id
          total_tax: null
          travelers:
            - id: id
              type: ADULT
              service_bundle_ids:
                - service_bundle_ids
                - service_bundle_ids
            - id: id
              type: ADULT
              service_bundle_ids:
                - service_bundle_ids
                - service_bundle_ids
        sections:
          - offers:
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
              - service_bundles:
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                  - traveler_ids:
                      - traveler_ids
                      - traveler_ids
                    id: id
                    services:
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                      - marketing_name: marketing_name
                        name: name
                        description: description
                        attributes:
                          key: attributes
                        id: id
                        type: CABINCLASS
                    transport_service_id: transport_service_id
                viewed_at: viewed_at
                total_amount:
                  currency: EURO
                  value: 9.301444
                mowgli_tips:
                  is_average_price:
                    description: description
                    title: title
                    type: SUPERDEAL
                  is_lowest_price:
                    description: description
                    title: title
                    type: LOWESTPRICE
                hops:
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                  - duration: 5
                    origin_city: null
                    stopover_duration: 5
                    arrival_time: arrival_time
                    transport_services:
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                      - equipment_name: equipment_name
                        stopover_duration: 7
                        arrival_time: arrival_time
                        departure_date: departure_date
                        origin: null
                        destination:
                          code: code
                          coordinate: null
                          name: name
                          id: id
                          type: AIRPORT
                          code_type: null
                        equipment: equipment
                        operating_designator: operating_designator
                        marketing_designator: marketing_designator
                        operating_carrier: null
                        type: FLIGHT
                        marketing_carrier:
                          code: code
                          name: name
                          avatar: avatar
                        duration: 2
                        id: id
                        arrival_date: arrival_date
                        departure_time: departure_time
                    departure_date: departure_date
                    id: id
                    type: OUTBOUND
                    arrival_date: arrival_date
                    departure_time: departure_time
                    destination_city:
                      code: code
                      coordinate:
                        altitude: 0.8008282
                        latitude: 6.0274563
                        longitude: 1.4658129
                      country_subdivision_code: country_subdivision_code
                      name: name
                      id: id
                      avatar: avatar
                      code_type: IATA
                id: id
                total_tax: null
                travelers:
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
                  - id: id
                    type: ADULT
                    service_bundle_ids:
                      - service_bundle_ids
                      - service_bundle_ids
            request:
              one_by_destination: false
              avatar_width: 3
              inbound_date: null
              inbound_time: null
              origin:
                code: code
                type: AIRPORT
                code_type:
                  - IATA
                  - IATA
              destination:
                codes:
                  - codes
                  - codes
                type: AIRPORT
                code_type:
                  - null
                  - null
              cabin: ECONOMY
              journey_days:
                flexible_journey_days:
                  min: 6
                  max: 0
                journey_days: 1
              outbound_time:
                time: time
                type: DEPARTURE
                flexible_time:
                  min: min
                  max: max
              type: ROUNDTRIP
              locale: fr_FR
              outbound_date:
                date: date
                flexible_date:
                  min: min
                  max: max
                  type: OPEN
                  day_of_week:
                    - MONDAY
                    - MONDAY
                type: DEPARTURE
              checked_baggage: 7
              continuation_token: continuation_token
              size: 2
              hop_duration:
                min: 2
                max: 5
              max_stopovers: 5
[...]
